body {
    font-size: 0;
    padding: 0;
}

button {
    margin: 10px auto;
    width: 100px;
    display: block;
}

div {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#keyboard {
    margin: 0 auto;
    width: 675px;
}

.key {
    border: 1px solid black;
    border-right: none;
    display: inline-block;
    height: 200px;
    width: 45px;
}

.key:last-of-type {
    border-right: 1px solid black;
}

.key:hover {
    cursor: pointer;
}

.key-black {
    background-color: black;
    height: 130px;
    width: 25px;
    left: 32px;
    z-index: 1;
    display: block;
    /* black keys inherit inline-block from .key, but
    this throws the keyboard layout away */
    position: relative;
}

.key-black-mouseover {
    background-color: #565656;
}

.key-depressed {
    box-shadow: 0 -5px 15px #4d4d4d inset;
}

.key-white-mouseover {
    background-color: #dedddd;
}

.message {
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
}
